
body{
    background-color: black;
    justify-content: center;
    font-family: cursive;
}

.div1{
    background-color: rgb(216, 133, 127);
    height: 35vh;
    width: 35vh;
    padding: 50px;
    margin-top: 200px;
    margin-left: 40%;
    border: 3px rgb(255, 255, 255) solid;
}

form{
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.log{
    
    font-weight: 1000;
}